# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Flask
instance/

# Node / React
node_modules/
build/
dist/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# MySQL dumps
*.sql.gz
